{{- $title := .Title -}}
{{- $siteTitle := .Site.Title -}}

{{- if .IsHome -}}
    <!-- Homepage, and it's pagination -->

    <!-- Build paginator -->
    {{ $pages := where .Site.RegularPages "Section" "in" .Site.Params.mainSections }}
    {{ $notHidden := where $pages "Params.hidden" "!=" true }}
    <!-- FILTER: only present or future events -->
    {{ $now := now }}
    {{ $threeDaysAgo := $now.AddDate 0 0 -3 }}
    {{ $filtered := where $notHidden ".Date" "ge" $threeDaysAgo }}
    <!-- SORT: oldest first (Date ascending) -->
    {{ $sorted := sort $filtered "Date" "asc" }}
    {{ $pag := .Paginate $sorted }}

    {{ if .Paginator.HasPrev }}
        <!-- Paginated. Append page number to title -->
        {{ $title = printf "%s - %s" .Paginator $siteTitle }}
    {{ else }}
        {{ $title = $siteTitle}}
    {{ end }}
{{- else if eq .Kind "term" -}}
    <!-- Taxonomy page -->

    <!-- Build paginator -->
    {{ $notHidden := where .Pages "Params.hidden" "!=" true }}
    <!-- FILTER: only present or future events -->
    {{ $now := now }}
    {{ $threeDaysAgo := $now.AddDate 0 0 -3 }}
    {{ $filtered := where $notHidden ".Date" "ge" $threeDaysAgo }}
    <!-- SORT: oldest first (Date ascending) -->
    {{ $sorted := sort $filtered "Date" "asc" }}
    {{ $pag := .Paginate $sorted }}

    <!-- {TAXONOMY_TYPE}: {TAXONOMY_TERM} -->
    {{ $title = slice (title .Data.Singular) ": " $title }}

    {{ if .Paginator.HasPrev }}
        <!-- Add page number-->
        {{ $title = $title | append " - " .Paginator }}
    {{ end }} 

    {{ $title = $title | append " - " $siteTitle }}
    {{ $title = delimit $title "" }}
{{- end -}}

{{ return $title }}

